[Unit]
Description=Etcd Server
After=network.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=/usr/libexec/etcd

[Install]
WantedBy=multi-user.target
